*{
    margin:0px;
    box-sizing: border-box;
}
.landing-main-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh; 
} 
.dental-main-container{
    background-image: url("https://res.cloudinary.com/di9qg5ka6/image/upload/v1716794360/Group_44_whej2k.png"); 
    background-size: cover; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between; 
    width: 100%; 
    min-height:550px;
    background-position: center; 
    /* max-width: 1525px;
    min-height:500px;
    top: -64px; 
    left: -25px; */
} 
.dental-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin: auto;
    width:100%;
    max-width: 850px;
    text-align: center;
   
} 
.dental-request-btn{
    margin-top: 40px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color: transparent;
    border: 2px solid #FDF9EE;
    border-radius:30px;
    opacity: 0px;
    padding:17px 35px 17px 35px;
    color: #FDF9EE; 
    cursor: pointer;
} 
.dental-heading{
    color: #FDF9EE; 
    font-family: "Poppins", sans-serif;
    font-size:60px;
    Line-height:70px;

}
.button-request-para{
    padding-left: 20px;
    font-size: 15px;
} 
.dental-icon-container{
    align-self: flex-end;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 100%;
    max-width: 190px;
    min-height: 26px;
    
}
.social-icon{
    width:24px;
    height:24px;
}
.social-icon-twitter{
    width:18px;
    height:18px;
    
}
@media screen and (max-width:767px){
    .dental-container{
        width: 100%;
        max-width:400px;
        padding:20px;
    } 
    .dental-heading{
        font-size:35px;
        line-height: 45px;
    }
} 

.booking-appointment-container{
    background-color:#FDF9EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100%;
    padding:20px;
} 
.booking-section-button{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content:space-around;
    width: 100%;
    max-width:600px;
    padding:10px;
   
} 
.econsult-button{
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    background-color: transparent;
    border: 2px solid #1E1E1E;
    border-radius: 60px;
    padding:17px 40px 17px 40px;
    font-family: Poppins;
    width:100%;
    max-width:800px;
    cursor: pointer;

}
.econsult-icon{
    width: 25px;
}
.econsult-para{
    font-size:18px;
    padding-left:20px;
    font-weight: 700;
    color: #1E1E1E;
}
.econsult-paras{
    font-size:15px;
    padding-left:20px;
    font-weight: 700;
    color: #1E1E1E;
}


@media  screen and (max-width:767px) {
    .booking-section-button{
        max-width: 400px;
        justify-content: center;
    }
    .econsult-button{
        margin-bottom:20px;
    }
} 

.dental-checking-container{
    background-color:#FFFFFF;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 

} 
.checking-container{
    margin-top:20px;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content:center;
    width: 100%;
    padding:10px;
   
} 
.checking-consult-container{
    background-color: #A0C1BA;
    width: 100%;
    max-width:300px;
    border-radius: 18px;
    margin:10px;
}
.checking-consult-image{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.checking-consult-info-image-container{
    padding:25px;
    padding-bottom: 40px;
}
.consult-image-heading{
    padding-bottom:5px;
    font-size:18px;
    line-height: 25px;
    /* color: #1E1E1E; */
    /* font-weight: 700; */
    /* font-family: Poppins; */
    color: #464646;
   
}
.consult-safety-span{
    color: #1E1E1E;
    font-weight: 700; 
    font-family: Poppins;
}

.consult-image-para{
    font-size: 14px;
    font-weight: 400; 
    font-family: Poppins; 

}


@media screen and (max-width:767px){
    .checking-image{
        padding-bottom: 20px;
        padding-right: 0px;
        
    }
   
} 
.about-main-container{
    background-color:#A0C1BA; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding: 20px;
    width: 100%;
    margin-top: 20px;
} 
.about-container{
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content:space-between; 
    width: 100%; 
    max-width: 1050px;
    padding: 20px;
} 
.about-image{
    width: 100%;
    max-width: 320px;
} 
.about-info-container{
    width: 100%; 
    max-width: 600px;
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
} 
.about-heading{
    font-family:Poppins;
    color: #FDF9EE; 
    font-size: 70px; 
    Line-height:108px;
} 
.about-para{
    color:#000000; 
    font-size: 18px; 
    font-family: Poppins; 
    line-height:25px;
} 
@media screen and (max-width:767px){
    .about-container{
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        width:100%;
    }
    .about-heading{
        padding-top: 20px;
        line-height: 60px;
        font-size: 40px;
    }

} 
@media screen and (max-width:991px){
    .about-info-container{
        width: 100%; 
        max-width: 450px;
        display: flex; 
        flex-direction: column; 
        align-items: flex-start; 
    } 
}  
@media screen and (min-width:768px) and (max-width:990px){
    .about-info-container{
        width: 100%; 
        max-width: 400px;
        display: flex; 
        flex-direction: column; 
        align-items: flex-start; 
        padding:20px;
    } 
    .about-heading{
        font-size: 30px;
        line-height: 50px;
    }
    .about-para{
        font-size: 15px;
        line-height:20px;
    }
    .dental-heading{
        font-size:45px;
        line-height:60px;
    }
    .dental-container{
        max-width:600px;
    }
    .booking-section-button{
        max-width:700px;
    }
    .econsult-button{
        padding:12px 17px 12px 17px;
    }
    .econsult-paras{
        font-size:15px;
        padding-left:20px;
        font-weight: 700;
        color: #1E1E1E;
    }

} 
/* Carousel Container */
.carousel-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; /* Background color */
    padding: 30px; /* Padding around the carousel */
    width: 100%;
    border:none;
    box-shadow: none;
    
}

.carousel-container {
    max-width: 700px; /* Max width of the carousel */
    width: 100%;
    padding-bottom: 20px;
    border: none;
    box-shadow: none;
    
    align-items: center;
}

/* Carousel Images */
.carousel-image {
    width: 100%; /* Make images responsive */
    max-width: 400px; /* Max width of individual carousel images */
    border-radius: 8px; /* Add some border radius for rounded corners */
    margin: 0 10px; /* Add margin for spacing */
    border:none;
    box-shadow: none;
}

/* Arrow Styling */
.slick-prev {
    color: #000000 !important; /* Make arrows black */
    z-index: 1; /* Ensure arrows are on top of images */
    margin: 0 -20px; /* Add margin for spacing around arrows */
}
.slick-next{
    margin:0 -40px;
    z-index: 1;
    color: #000000 !important;
}
.slick-prev:hover, .slick-next:hover {
    color: #000000 !important; /* Maintain black color on hover */
}

/* Dots Styling */
.slick-dots li button:before {
    color: #000000; /* Change dots to black */
}
@media screen and (max-width:767px){
    .carousel-container{
        max-width: 300px;
       
        margin: auto;
        background-position: center;
    }
    .carousel-image{
        max-width: 280px;
    }
    .slick-prev {
        color: #000000 !important; /* Make arrows black */
        z-index: 1; /* Ensure arrows are on top of images */
        margin: 0 -15px; /* Add margin for spacing around arrows */
    }
    .slick-next{
        margin:0 -15px;
        z-index: 1;
        color: #000000 !important;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    .carousel-container{
        max-width:500px;
    }
}
.advanced-technology-container{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    background-color: #FFFFFF;
    margin-top:20px;

} 
.technology-container{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    padding-bottom: 20px;
    padding-top:20px;
} 
.technology-image-container{
    padding-left: 0px; 
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: center;
    list-style-type:none; 
    margin-top:20px;
    width:100%;
    max-width:900px;
    padding-bottom: 20px;
    padding-top:20px;
}
.technology-image{
    padding-right: 20px;
    padding-bottom: 10px;
    width: 100%; 
    max-width: 200px;
}
.technology-heading{
    font-family: Poppins; 
    font-size: 36px;
    line-height:20px;
    font-weight:700;
    text-align: center;
} 
@media screen and (max-width:767px){
    .technology-heading{
        line-height:35px;
        font-size: 25px;
    }
    .technology-image{
        max-width: 100px;
    }
}
.fotter-main-container{
    display: flex; 
    flex-direction:row; 
    justify-content:space-between; 
    align-items: center;
   
    width: 100%; 
    /* padding:25px;
    bottom: 0px; */
} 
.fotter-about-container{
    display: flex; 
    flex-direction:column; 
    justify-content:space-between; 
    align-items: center;
    background-color:#A0C1BA; 
    width: 100%; 
    padding:25px;
    bottom: 0px;
}
.fotter-container{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 100%;
    max-width: 450px;
} 
.fotter-item{
    padding-right: 10px;
    color: #1E1E1E;
    font-family: Poppins;
    font-weight: 500;
}
.fotter-item-phone{
    padding-top:10px;
    color: #1E1E1E;
    font-family: Poppins;
    font-weight: 400;
}
@media screen and (max-width:767px){
    .fotter-main-container{
        display: flex; 
        flex-direction: column; 
        align-items: center;
      
        
    }
    .fotter-container{
        margin-bottom:20px;
        display: flex; 
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        /* max-width: 1000px; */
       
       
    }

}

.fotter-icon-container{
    /* align-self: flex-end; */
    display: flex;
    justify-content: space-between; 
    align-items: center;
    /* margin-bottom: 20px; */
    margin-right: 20px;
    width: 100%;
    max-width: 190px;
    /* min-height: 26px; */
    /* background-color: antiquewhite; */
}
.fotter-address-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
    margin:20px;
    width: 100%;
}
@media screen and (max-width:767px){
    .fotter-icon-container{
      
        margin-right: 0px;
        width: 100%;
        max-width:1000px;
    }
}
/* Define keyframes for animations */
@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* CSS Keyframes for fade-in-right animation */
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Initial state for elements */
.fade-in-right {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

/* Active state when elements come into view */
.fade-in-right.visible {
    opacity: 1;
    transform: translateX(0);
}


/* Apply animation to text elements */
.dental-heading, .about-heading, .technology-heading {
    animation: slideInFromLeft 1s ease-in-out;
}

/* Apply animation to images and containers */
.dental-icon-container, .checking-container, .carousel-image, .technology-image {
    animation: fadeIn 1s ease-in-out;
}

/* Additional animations for other containers */
.dental-container, .booking-appointment-container, .dental-checking-container, .about-main-container, .carousel-main-container, .advanced-technology-container, .fotter-main-container {
    animation: fadeIn 1s ease-in-out;
}

