*{
    margin:0px;
    box-sizing: border-box;
}
.landing-main-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    min-height: 100vh; 
} 

.implants-main-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

@media screen and (max-width: 767px) {
    .implants-main-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}

.implants-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 700px;
    padding: 30px;
   
}

.implants-image {
    width: 100%;
    max-width: 450px;
    border-radius: 7px;
}

.implants-heading {
    font-family: Poppins;
    font-size: 35px;
    line-height: 40px;
    color: #6F432A;
}

.implants-para {
    font-family: Poppins;
    font-size: 18px;
    line-height: 50px;
    font-weight: 700;
}

.implants-description {
    font-family: Poppins;
    font-size: 18px;
    line-height: 20px;
    padding-top: 10px;
}

@media screen and (max-width: 767px) {
    .implants-container {
        max-width: 400px;
        margin-left: 0px;
        padding: 20px;
    }
    .implants-image {
        width: 100%;
        max-width: 340px;
    }
    .order1 {
        order: 1;
    }
    .order2 {
        order: 0;
    }
    .implants-heading {
        line-height: 27px;
        padding-bottom: 10px;
        font-size: 25px;
    }
    .implants-para {
        line-height: 20px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
    .implants-image {
        width: 100%;
        max-width: 600px;
    }
    .implants-container {
        padding: 10px;
        margin-left: 0px;
        max-width: 400px;
        padding-left: 20px;
    }
    .implants-main-container {
        padding: 10px;
    }
    .implants-heading {
        line-height: 27px;
        padding-bottom: 10px;
        font-size: 25px;
    }
    .implants-para {
        line-height: 20px;
        padding-bottom: 10px;
    }
}

.implants-information-container {
    background-color: #A0C1BA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.one {
    background-color: #6F432A;
}

.implants-info-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.implants-booking-button {
    width: 100%;
    max-width: 250px;
}

.implants-section-image {
    padding-right: 30px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
}

.implants-bottom-main-container {
    background-color: #FDF9EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.implants-bottom-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
}
.bottom-para{
    font-family: Poppins;
    font-size: 20px;
    line-height: 28px;
    color: #1E1E1E; 
}
.botton-span-para{
    color:#6F432A;
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
}
.implants-unordered-list-desc{
    padding-top:20px;
    display: flex;
    flex-direction: column;
    
}
.implants-unordered-list-span{
    color:#1E1E1E;
    font-weight: 700;
    font-size:18px;
    font-family: Poppins;
}
.implants-unordered-list-para{
    color:#1E1E1E;
    font-weight: 500;
    font-size:16px;
    font-family: Poppins;
    padding-bottom:5px;
}