
*{
    margin:0px;
    box-sizing: border-box;
}
.landing-main-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh; 
} 
.cosmetic-main-container{
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content:space-between; 
    padding:30px;
    padding-inline: 2rem;
  
} 
@media screen and (max-width:767px){
    .cosmetic-main-container{
        display: flex; 
        flex-direction:column; 
        padding:10px;
    }
}
.cosmetic-container{
    display: flex; 
    flex-direction:column;  
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width:680px;
    padding:30px;
    /* width: 50vw; */
    padding-right: 5rem;
  
}
.cosmetic-image{
    width: 100%; 
    max-width:500px;
    border-radius:7px;
} 
.cosmetic-heading{
    font-family: Poppins; 
    font-size: 35px;
    line-height: 45px;
    color: #6F432A;
}
.cosmetic-para{
    font-family: Poppins; 
    font-size:18px;
    line-height:20px;
   
} 
.cosmetic-description{
    font-family: Poppins; 
    font-size:18px;
    line-height:20px;
    padding-top:10px;
} 
@media screen and (max-width:767px){
    .cosmetic-container{
        max-width: 400px;
        margin-left: 0px;
        padding: 20px;
    }
    .cosmetic-image{
        width: 100%;
        max-width: 340px;
    }
    .order1{
        order:1;
    }
    .order2{
        order:0;
    }
    .cosmetic-heading{
        line-height:27px;
        padding-bottom: 10px;
        font-size: 25px;
    }
    .cosmetic-para{
        line-height: 20px;
        padding-bottom: 10px;
    }
}
@media screen and (min-width:768px) and (max-width:990px){
    .cosmetic-image{
        width: 100%; 
        max-width:600px;
    }
    .cosmetic-container{
        padding:10px;
        margin-left: 0px;
        max-width: 400px;
        padding-left: 20px;
    }
    .cosmetic-main-container{
        padding:10px;
    }
    .cosmetic-heading{
        line-height:27px;
        padding-bottom: 10px;
        font-size: 25px;
    }
    .cosmetic-para{
        line-height: 20px;
        padding-bottom: 10px;
    }
} 
.cosmetic-information-container{
    /* background-color:#A0C1BA;  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100%;
    padding:20px;
} 
.one{
    background-color: #6F432A;
}

.cosmetic-info-button{
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: center;
    width: 100%;
    padding:20px;
    
} 
.cosmetic-know-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    max-width: 280px;
    padding:10px;
    margin:8px;
    
}
.cosmetic-knowmore-container{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content:center;
    width: 100%;
    max-width:950px;
    padding:10px;
} 
.cosmetic-knowmore-button{
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    background-color: transparent;
    border: 2px solid #1E1E1E;
    border-radius: 60px;
    padding:10px 20px 10px 20px;
    font-family: Poppins;
    width:100%;
    cursor: pointer;
    margin-top:20px;
}
.cosmetic-arrow-icon{
    padding-left:20px;
}
.cosmetic-know-para{
    font-size:14px;
    font-weight: 700;
    color: #1E1E1E;
    text-align: center;
    
    width: 100%;
    max-width: 180px;
}
.cosmetic-knowmore-para{
    font-size:15px;
    font-weight: 500;
    color: #1E1E1E;
    padding-top: 10px;
   
}
.white{
    color: #ffffff;
}
.white-button{
    border-color: #ffffff;
}
.cosmetic-section-image{
    padding-right: 30px;
    margin-bottom: 20px;
    width: 100%; 
    max-width: 300px;
} 
.cosmetic-bottom-main-container{
    background-color:#FDF9EE;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    width: 100%;
    padding:20px;
} 
.cosmetic-bottom-container{
    padding:20px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    width: 100%; 
    max-width: 1100px;
}
.bottom-para{
    font-family: Poppins;
    font-size: 20px;
    line-height: 28px;
    color: #1E1E1E; 
}
.botton-span-para{
    color:#6F432A;
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
}
@media screen and (max-width:767px){
    .cosmetic-knowmore-container{
        display: flex;
       
        align-items: center;
        justify-content: center;
    }
}
@media screen and (min-width:768px) and (max-width:990px){
    .cosmetic-know-container{
        max-width: 200px;
        align-items: flex-start;
    }
    .cosmetic-knowmore-button{
        padding:5px 10px 5px 10px;
    }
    .cosmetic-know-para{
        font-size: 10px;
    }
    .cosmetic-knowmore-para{
        width: 100%;
        /* max-width: 200px; */
        font-size:13px;
    }
    
}
.cosmetic-checking-consult-container{
    width: 100%;
    max-width: 250px;
}