*{
    margin:0px;
    box-sizing: border-box;
}
.landing-main-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh; 
} 
.dental-implants-main-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

@media screen and (max-width: 767px) {
    .dental-implants-main-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}

.dental-implants-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    padding: 30px;
    
}

.dental-implants-image {
    width: 100%;
    max-width: 420px;
    border-radius: 7px;
}

.dental-implants-heading {
    font-family: Poppins;
    font-size: 35px;
    line-height: 45px;
    color: #6F432A;
}

.dental-implants-para {
    font-family: Poppins;
    font-size: 18px;
    line-height: 50px;
}

.dental-implants-description {
    font-family: Poppins;
    font-size: 18px;
    line-height: 20px;
}

@media screen and (max-width: 767px) {
    .dental-implants-container {
        max-width: 400px;
        margin-left: 0px;
        padding: 20px;
    }
    .dental-implants-image {
        width: 100%;
        max-width: 340px;
    }
    .order1 {
        order: 1;
    }
    .order2 {
        order: 0;
    }
    .dental-implants-heading {
        line-height: 27px;
        padding-bottom: 10px;
        font-size: 25px;
    }
    .dental-implants-para {
        line-height: 20px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
    .dental-implants-image {
        width: 100%;
        max-width: 600px;
    }
    .dental-implants-container {
        padding: 10px;
        margin-left: 0px;
        max-width: 400px;
        padding-left: 20px;
    }
    .dental-implants-main-container {
        padding: 10px;
    }
    .dental-implants-heading {
        line-height: 27px;
        padding-bottom: 10px;
        font-size: 25px;
    }
    .dental-implants-para {
        line-height: 20px;
        padding-bottom: 10px;
    }
}

.dental-implants-information-container {
    background-color: #A0C1BA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.one {
    background-color: #6F432A;
}

.dental-implants-info-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dental-implants-booking-button {
    width: 100%;
    max-width: 250px;
}

.dental-implants-section-image {
    padding-right: 30px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
}

.dental-implants-bottom-main-container {
    background-color: #FDF9EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.dental-implants-bottom-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
}

.bottom-para{
    font-family: Poppins;
    font-size: 20px;
    line-height: 28px;
    color: #1E1E1E; 
}
.botton-span-para{
    color:#6F432A;
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
}