*{
    margin:0px;
    box-sizing: border-box;
}
.landing-main-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    min-height: 100vh; 
} 

.tooth-alignment-main-container {
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 40px;
}

@media screen and (max-width: 767px) {
    .tooth-alignment-main-container {
        display: flex; 
        flex-direction: column; 
        padding: 10px;
    }
}

.tooth-alignment-container {
    display: flex; 
    flex-direction: column;  
    justify-content: center;
    width: 100%; 
    max-width: 700px; 
    padding: 30px;
}

.tooth-alignment-image {
    width: 100%; 
    max-width: 450px;
    border-radius: 7px;
} 

.tooth-alignment-heading {
    font-family: Poppins; 
    font-size: 35px;
    line-height: 45px;
    color: #6F432A;
    padding-bottom: 10px;
}

.tooth-alignment-para {
    font-family: Poppins; 
    font-size: 18px;
    line-height: 50px;
} 

.tooth-alignment-description {
    font-family: Poppins; 
    font-size: 18px;
    line-height: 20px;
} 

@media screen and (max-width: 767px) {
    .tooth-alignment-container {
        max-width: 400px;
        margin-left: 0px;
        padding: 20px;
    }
    .tooth-alignment-image {
        width: 100%;
        max-width: 340px;
    }
    .order1 {
        order: 1;
    }
    .order2 {
        order: 0;
    }
    .tooth-alignment-heading {
        line-height: 27px;
        padding-bottom: 10px;
        font-size: 25px;
    }
    .tooth-alignment-para {
        line-height: 20px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
    .tooth-alignment-image {
        width: 100%; 
        max-width: 600px;
    }
    .tooth-alignment-container {
        padding: 10px;
        margin-left: 0px;
        max-width: 400px;
        padding-left: 20px;
    }
    .tooth-alignment-main-container {
        padding: 10px;
    }
    .tooth-alignment-heading {
        line-height: 27px;
        padding-bottom: 10px;
        font-size: 25px;
    }
    .tooth-alignment-para {
        line-height: 20px;
        padding-bottom: 10px;
    }
} 

.tooth-alignment-information-container {
    background-color: #A0C1BA; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    width: 100%;
} 

.one {
    background-color: #6F432A;
}

.tooth-alignment-dental-span-para {
    font-family: Poppins; 
    font-size: 18px;
    line-height: 25px;
    padding-top: 20px;
    color: #1E1E1E;
    font-weight: 700;
}
.tooth-alignment-dental-para {
    font-family: Poppins; 
    font-size: 16px;
    line-height: 25px;
    color: #1E1E1E;
    font-weight:520;
}

.tooth-alignment-unorderedlist {
    color: #FDF9EE; 
    font-family: Poppins; 
    font-size: 20px;
    padding-bottom: 10px;
} 

.tooth-alignment-exp-heading {
    color: #FDF9EE; 
    font-family: Poppins; 
    font-size: 20px;
    padding-top: 20px;
}  
.tooth-unorderedlist{
    color: #FDF9EE;
    font-family: Poppins; 
    font-size:15px;
    padding-top: 10px;
    padding-bottom:20px;
} 
.tooth-exp-heading{
    color: #FDF9EE; 
    font-family: Poppins; 
    font-size:22px;
    padding-bottom: 10px;
}
.tooth-unorderedlist-q{
    color: #FDF9EE;
    font-family: Poppins; 
    font-size:15px;
} 
.tooth-exp-heading-q{
    color: #FDF9EE; 
    font-family: Poppins; 
    font-size:17px;
    padding-bottom: 10px;
}
.tooth-alignment-unordered-list-description {
    
    display: flex;
    flex-direction: column;
    color:#ffffff;
    
}

.tooth-alignment-unordered-list-span {
    color:#ffffff;
    font-weight: 500;
    font-size: 16px;
    font-family: Poppins;
}

.tooth-alignment-unordered-list-para {
    color:#ffffff;
    font-weight: 400;
    font-size: 16px;
    font-family: Poppins;
    padding-bottom: 6px;
}
.tooth-alignments-unordered-heading {
    font-family: Poppins; 
    font-size:20px;
    line-height: 45px;
    color:#FDF9EE;
    padding-bottom: 10px;
}