*{
    margin:0px;
    box-sizing: border-box;
}
.landing-main-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh; 
} 
.surgical-dentist-main-container{
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content:space-between; 
    padding:20px;
} 
@media screen and (max-width:767px){
    .surgical-dentist-main-container{
        display: flex; 
        flex-direction:column; 
        padding:10px;
    }
}
.surgical-dentist-container{
    display: flex; 
    flex-direction: column;  
    justify-content: center;
    width: 100%; 
    max-width: 700px; 
    padding:30px;
}
.surgical-dentist-image{
    width: 100%; 
    max-width: 420px;
    border-radius:7px;
} 
.surgical-dentist-heading{
    font-family: Poppins; 
    font-size: 35px;
    line-height: 45px;
    color: #6F432A;
}
.surgical-dentist-para{
    font-family: Poppins; 
    font-size:18px;
    line-height:50px;
} 
.surgical-dentist-description{
    font-family: Poppins; 
    font-size:18px;
    line-height:20px;
} 
@media screen and (max-width:767px){
    .surgical-dentist-container{
        max-width: 400px;
        margin-left: 0px;
        padding: 20px;
    }
    .surgical-dentist-image{
        width: 100%;
        max-width: 340px;
    }
    .order1{
        order:1;
    }
    .order2{
        order:0;
    }
    .surgical-dentist-heading{
        line-height:27px;
        padding-bottom: 10px;
        font-size: 25px;
    }
    .surgical-dentist-para{
        line-height: 20px;
        padding-bottom: 10px;
    }
}
@media screen and (min-width:768px) and (max-width:990px){
    .surgical-dentist-image{
        width: 100%; 
        max-width:600px;
    }
    .surgical-dentist-container{
        padding:10px;
        margin-left: 0px;
        max-width: 400px;
        padding-left: 20px;
    }
    .surgical-dentist-main-container{
        padding:10px;
    }
    .surgical-dentist-heading{
        line-height:27px;
        padding-bottom: 10px;
        font-size: 25px;
    }
    .surgical-dentist-para{
        line-height: 20px;
        padding-bottom: 10px;
    }
} 
.surgical-dentist-information-container{
    background-color:#A0C1BA; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    width: 100%;
} 
.one{
    background-color: #6F432A;
}
.surgical-dentist-info-button{
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: center;
    width: 100%;
} 
.surgical-dentist-booking-button{
    width: 100%; 
    max-width:250px;
}
